body{
   font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background: linear-gradient(to left, #edf8ff, #e6edf9);
    text-align: center;
    background-color: white ;
    
    
   
     }
.container{
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #e3dede;
    border-radius: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: auto;
}
.primeiro-container{
    float: left;
    margin-top: 0%;
    max-width: 800px;
}
.segundo-container{
 width: 30%;
 padding: 30px;
 margin: auto;
 max-width: 800px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
img{
    width: 20%; 
    height: 23%; 
    border-radius: 50%;
    text-align: center;
}
h1{
    font-family: 'Arial', sans-serif; /* Escolha uma fonte apropriada */
    color: #000000; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 3px; /* Espaçamento entre as letras */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}
.apresentacao{
   color: black;
}   

#video-bg {
    width: auto; /* Largura desejada */
    height: 200px;
    border-radius: 500%;
    margin-top: 5%;
   
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="mensagem"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 5px;
     }
     .apresentacao{
        color: rgb(0, 0, 0)
     }
     .botao {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 45px;
    }
    
    .navbar {
        background-color: #000000;
        overflow: hidden;
    }
    
    .navbar a {
        float: left;
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .navbar a:hover {
        background-color: rgb(48, 48, 50);
    }
   .botaum{
    display: inline-block;
        padding: 10px 50px;
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin:  auto;
       text-align: center;
   }
   .whatszapp{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
   }
   #music-player {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto; /* Adicionado para centralizar */
    margin-top: 15px;
}

audio {
    width: 100%;
    margin-top: 15px;
}

h2 {
    color: #333;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

