body{
    background-image: url("../img//plano-de-fundo-texturizado-hexadecimal-para-redes_23-2150080759.avif");
    background-repeat: no-repeat;
    background-size: cover;
   
     }
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-image: url("../img/plano-de-fundo-texturizado-hexadecimal-para-redes_23-2150080759.avif");
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid #e3dede;
    border-radius: 30px;
    text-align: center;
    color: white;
}
img{
    width: 20%; 
    height: 23%; 
    border-radius: 50%;
    text-align: center;
}
h1{
    text-align: center;
}
.apresentacao{
   color: black;
}
.video-background {
   
  

}

#video-bg {
    width: auto; /* Largura desejada */
    height: 200px;
    border-radius: 500%;
   
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="mensagem"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
     }
     .apresentacao{
        color: white;
     }
