body{
    background-image: url("../img/fundo-fotografico-em-tecido-ceu-estrelado-2-20x1-50m-tema-para-fotos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     }
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f5f5f5;
    border: 20px solid #ddd;
    border-radius: 30px;
    text-align: center;
}
img{
    width: 20%; 
    height: 23%; 
    border-radius: 50%;
    text-align: center;
}
h1{
    text-align: center;
}
.apresentacao{
   color: black;
}
.video-background {
   
  

}

#video-bg {
    width: auto; /* Largura desejada */
    height: 200px;
    border-radius: 500%;
   
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="mensagem"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
     }
